<launch-list-organization-directive>
<md-card id="profile">
    <md-card-heade>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Organizations</h2>
            </div>
        </md-toolbar>
    </md-card-header>
    <md-card-content>
        <div>
        <md-list>
            <md-list-item>
                <div flex layout="row" layout-align="center">
                    <div flex="50">
                        <md-virtual-repeat-container class="treeview-container" style="height: 200px;">
                            <treeview-directive class="treeview">
                                <ul>
                                    <li ng-repeat="organization in listOrganizationCtrl.organizations track by organization.id" class="collapsed">
                                        <button ng-class="{'item toggle': (organization.children.length), 'item': !organization.children.length}" ng-click="onItemClick($event); listOrganizationCtrl.onSelectOrganization(organization);"><md-icon ng-if="organization.children.length">add_box</md-icon>{{organization.name}}</button>
                                        <ul class="sub" ng-if="organization.children.length">
                                            <li ng-repeat="child in organization.children track by child.id"><button class="item" ng-click="onItemClick($event); listOrganizationCtrl.onSelectOrganization(organization);">{{child.name}}</button></li>
                                        </ul>
                                    </li>
                                    <!--
                                    <li class="collapsed">
                                        <button class="item toggle" ng-click="onItemClick($event)"><md-icon>add_box</md-icon>Operator A</button>
                                        <ul class="sub">
                                            <li><button class="item" ng-click="onItemClick($event)">Brand A</button></li>
                                            <li><button class="item" ng-click="onItemClick($event)">Brand B</button></li>
                                            <li><button class="item" ng-click="onItemClick($event)">Brand C</button></li>
                                        </ul>
                                    </li>
                                    <li class="collapsed">
                                        <button class="item toggle" ng-click="onItemClick($event)"><md-icon>add_box</md-icon>Operator B</button>
                                        <ul class="sub">
                                            <li><button class="item" ng-click="onItemClick($event)">Brand A</button></li>
                                            <li><button class="item" ng-click="onItemClick($event)">Brand B</button></li>
                                            <li class="collapsed">
                                                <button class="item toggle" ng-click="onItemClick($event)"><md-icon>add_box</md-icon>Brand C Test 3rd Level</button>
                                                <ul class="sub">
                                                    <li><button class="item" ng-click="onItemClick($event)">Brand 1</button></li>
                                                    <li><button class="item" ng-click="onItemClick($event)">Brand 2</button></li>
                                                    <li><button class="item" ng-click="onItemClick($event)">Brand 3</button></li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </li>
                                    <li class="collapsed">
                                        <button class="item toggle" ng-click="onItemClick($event)"><md-icon>add_box</md-icon>Operator C</button>
                                        <ul class="sub">
                                            <li><button class="item" ng-click="onItemClick($event)">Brand A</button></li>
                                            <li><button class="item" ng-click="onItemClick($event)">Brand B</button></li>
                                            <li><button class="item" ng-click="onItemClick($event)">Brand C</button></li>
                                        </ul>
                                    </li>
                                    -->
                                </ul>
                            </treeview-directive>
                        </md-virtual-repeat-container>
                    </div>
                    <div>
                        <div flex layout="column"><md-button class="md-raised" ng-href="#/organization/update/{{listOrganizationCtrl.selectedOrganization.parent.id}}/{{listOrganizationCtrl.selectedOrganization.id}}" ng-disabled="listOrganizationCtrl.selectedOrganization === listOrganizationCtrl.rootOrganization">Edit</md-button></div>
                        <div flex layout="column"><md-button class="md-raised" ng-href="#/organization/create/{{listOrganizationCtrl.selectedOrganization.id}}">Add</md-button></div>
                        <div flex layout="column"><md-button class="md-raised" ng-click="ctrl.closeDialog()">Activate</md-button></div>
                        <div flex layout="column"><md-button class="md-raised" ng-click="ctrl.closeDialog()">Deactivate</md-button></div>
                    </div>    
                </div>
            </md-list-item>
            <md-list-item ng-if="listOrganizationCtrl.selectedOrganization !== listOrganizationCtrl.rootOrganization">
                <div flex layout="row" layout-align="center">
                <div flex="75" style="border: solid 1px #f6f6f6; margin-top: 5px;">
                    <div flex layout="row" style="background: #f6f6f6; padding: 10px;">
                        <span>{{listOrganizationCtrl.selectedOrganization.name}}</span>
                    </div>
                    <!--
                    <div flex layout="row">
                        <div flex="50" style="border-right: solid 1px rgb(225,225,225); padding: 5px;">Organization Type</div>
                        <div flex="50" style="padding: 5px;">{{listOrganizationCtrl.selectedOrganization.type}}</div>
                    </div>
                    -->
                    <div flex layout="row">
                        <div flex="50" style="border-right: solid 1px rgb(225,225,225); padding: 5px;">Parent Organization</div>
                        <div flex="50" style="padding: 5px;">{{listOrganizationCtrl.selectedOrganization.parent.name}}</div>
                    </div>
                    <div flex layout="row">
                        <div flex="50" style="border-right: solid 1px rgb(225,225,225); padding: 5px;">Role</div>
                        <div flex="50" style="padding: 5px;">{{listOrganizationCtrl.selectedOrganization.role.name}}</div>
                    </div>
                    <div flex layout="row">
                        <div flex="50" style="border-right: solid 1px rgb(225,225,225); padding: 5px;">Status</div>
                        <div flex="50" style="padding: 5px;">Active</div>
                    </div>
                </div>
                </div>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
</launch-list-organization-directive>