<div ng-controller="OrganizationCtrl as organizationCtrl">
<md-card id="profile">
    <md-card-heade>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{organizationCtrl.organization.id === 0 ? 'New Organization' : 'Edit Organization'}}</h2>
            </div>
        </md-toolbar>
    </md-card-header>
    <md-card-content>
        <md-input-container class="md-block" flex>
            <label>Parent Organization</label>
            <input ng-model="organizationCtrl.parentOrganization.name" disabled>
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>Organization Name</label>
            <input ng-model="organizationCtrl.organization.name">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>Organization Role</label>
            <md-select ng-model="organizationCtrl.organization.role" ng-model-options="{trackBy: '$value.id'}">
                <md-option ng-repeat="role in organizationCtrl.roles track by role.id" ng-value="role">{{role.name}}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex>
        <div layout="row">
            <div flex="20"><label>Default Roles</label></div>
            <div flex="80">
                <md-virtual-repeat-container style="height: 100px; border: solid 1px rgb(225,225,225);">
                    <div flex style="padding: 2px;">Administrator</div>
                    <div flex style="padding: 2px;">Distributor</div>
                    <div flex style="padding: 2px;">Operator</div>
                </md-virtual-repeat-container>
            </div>
        </div>
        </md-input-container>
    </md-card-content>
    <md-card-footer>
        <div flex layout="row" layout-align="end">
            <md-button class="md-raised" ng-click="organizationCtrl.save()">Save</md-button>
            <md-button class="md-raised" ng-href="#/organizations">Cancel</md-button>
        </div>
    </md-card-footer>
</md-card>
</div>