<md-card id="profile">
    <md-card-heade>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Organizations</h2>
            </div>
        </md-toolbar>
    </md-card-header>
    <md-card-content>
        <div>
        <md-list>
            <md-list-item>
                <div flex layout="row" layout-align="center">
                    <div flex="50">
                        <md-virtual-repeat-container class="treeview-container" style="max-width: 90%; height: 200px;">
                            <treeview-directive class="treeview">
                                <ul>
                                    <li class="collapsed">
                                        <span class="toggle" ng-click="onToggleMenu($event)"><md-icon>add_box</md-icon><span>Operator A</span></span>
                                        <ul class="sub">
                                            <li><span>Brand A</span></li>
                                            <li><span>Brand B</span></li>
                                            <li><span>Brand C</span></li>
                                        </ul>
                                    </li>
                                    <li class="collapsed">
                                        <span class="toggle" ng-click="onToggleMenu($event)"><md-icon>add_box</md-icon><span>Operator B</span></span>
                                        <ul class="sub">
                                            <li><span>Brand A</span></li>
                                            <li><span>Brand B</span></li>
                                            <li class="collapsed">
                                                <span class="toggle" ng-click="onToggleMenu($event)"><md-icon>add_box</md-icon><span>Brand C Test 3rd Level</span></span>
                                                <ul class="sub">
                                                    <li><span>Brand 1</span></li>
                                                    <li><span>Brand 2</span></li>
                                                    <li><span>Brand 3</span></li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </li>
                                    <li class="collapsed">
                                        <span class="toggle" ng-click="onToggleMenu($event)"><md-icon>add_box</md-icon><span>Operator C</span></span>
                                        <ul class="sub">
                                            <li><span>Brand A</span></li>
                                            <li><span>Brand B</span></li>
                                            <li><span>Brand C</span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </treeview-directive>
                        </md-virtual-repeat-container>
                    </div>
                    <div flex="25">
                        <div flex layout="column"><md-button class="md-raised" ng-click="ctrl.closeDialog()">Edit</md-button></div>
                        <div flex layout="column"><md-button class="md-raised" ng-href="#/new-organization">Add</md-button></div>
                        <div flex layout="column"><md-button class="md-raised" ng-click="ctrl.closeDialog()">Acitivate</md-button></div>
                        <div flex layout="column"><md-button class="md-raised" ng-click="ctrl.closeDialog()">InAcitivate</md-button></div>
                    </div>    
                </div>
            </md-list-item>
            <md-list-item>
                <div flex layout="row" layout-align="center">
                <div flex="75" style="border: solid 1px #f6f6f6; margin-top: 5px;">
                    <div flex layout="row" style="background: #f6f6f6; padding: 10px;">
                        <span>Operator A</span>
                    </div>
                    <div flex layout="row">
                        <div flex="50" style="border-right: solid 1px rgb(225,225,225); padding: 5px;">Organization Type</div>
                        <div flex="50" style="padding: 5px;">Operator</div>
                    </div>
                    <div flex layout="row">
                        <div flex="50" style="border-right: solid 1px rgb(225,225,225); padding: 5px;">Parent Organization</div>
                        <div flex="50" style="padding: 5px;">EveryMatrix</div>
                    </div>
                    <div flex layout="row">
                        <div flex="50" style="border-right: solid 1px rgb(225,225,225); padding: 5px;">Role</div>
                        <div flex="50" style="padding: 5px;">Administrator</div>
                    </div>
                    <div flex layout="row">
                        <div flex="50" style="border-right: solid 1px rgb(225,225,225); padding: 5px;">Status</div>
                        <div flex="50" style="padding: 5px;">Active</div>
                    </div>
                </div>
                </div>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>