<md-card id="royaltiesSettings" ng-controller="RoyaltiesReportCtrl as ctrl">
	<md-card-header>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Royalties</h2>
			</div>
		</md-toolbar>
	</md-card-header>
	<md-card-content>
		<div>
			<md-list>
				<md-list-item style="margin-bottom: 10px;">
					<div flex layout="column" layout-align="start"  style="border: solid 1px rgb(225,225,225);">
						<div flex="100">
							<div flex layout="row" style="background: #f6f6f6; padding: 10px;">
								<span>Report Settings</span>
							</div>
						</div>
						<div flex layout="row" layout-align="start center" style="padding: 10px;">
							<md-button class="md-raised" ng-href="#/royalties-settings">Edit Settings</md-button>
						</div>
					</div>
				</md-list-item>
				<md-list-item ng-if="ctrl.settings.showTotals" style="margin-bottom: 10px;">
					<div flex layout="column" layout-align="start"  style="border: solid 1px rgb(225,225,225);">
						<div flex="100">
							<div flex layout="row" style="background: #f6f6f6; padding: 10px;">
								<span>Totals</span>
							</div>
						</div>
						<div flex layout="row" layout-align="start start" style="padding: 10px;">
							<div flex="10"layout="column">
								<div ng-if="exists('Player Count', ctrl.settings.selectedTotalsData)" flex row>Player count</div>
								<div ng-if="exists('Bet Count', ctrl.settings.selectedTotalsData)" flex row>Bet count</div>
								<div ng-if="exists('Bets', ctrl.settings.selectedTotalsData)" flex row>Bets</div>
								<div  ng-if="exists('Wins', ctrl.settings.selectedTotalsData)" flex row>Wins</div>
								<div  ng-if="exists('Net Gaming', ctrl.settings.selectedTotalsData)" flex row>Net Gaming</div>
							</div>
							
							<div flex="10" layout="column" style="text-align: right;">
								<div ng-if="exists('Player Count', ctrl.settings.selectedTotalsData)" flex row>{{ctrl.totals.playerCount}}</div>
								<div ng-if="exists('Bet Count', ctrl.settings.selectedTotalsData)"  flex row>{{ctrl.totals.betCount}}</div>
								<div ng-if="exists('Bets', ctrl.settings.selectedTotalsData)" flex row>{{formatCurrency(ctrl.totals.bets)}}</div>
								<div ng-if="exists('Wins', ctrl.settings.selectedTotalsData)" flex row>{{formatCurrency(ctrl.totals.wins)}}</div>
								<div ng-if="exists('Net Gaming', ctrl.settings.selectedTotalsData)" flex row>{{formatCurrency(ctrl.totals.net)}}</div>
							</div>
							<div flex="5" layout="column"></div>
							<div ng-if="exists('Royalty', ctrl.settings.selectedTotalsData)" flex layout="column">
								<div flex row>Royalties: </div>
								<div flex row ng-repeat="item in ctrl.totals.royaltiesPerBrand">
									<span>{{item.id}}</span>
									<span style="text-align: right;">{{formatCurrency(item.amount)}}</span>
								</div>
							</div>
							<div ng-if="exists('Distributor Share', ctrl.settings.selectedTotalsData)" flex layout="column">
								<div flex row>Distributor shares:</div>
								<div flex row ng-repeat="item in ctrl.totals.sharesPerDistributor">
									<span>{{item.id}}</span>
									<span style="text-align: right;">{{formatCurrency(item.amount)}}</span>
								</div>
							</div>
							<div ng-if="exists('Supplier Share', ctrl.settings.selectedTotalsData)" flex layout="column">
								<div flex row>Supplier shares: </div>
								<div flex row>{{formatCurrency(ctrl.totals.vendorShareAmount)}}</div>
							</div>
						</div>
					</div>
				</md-list-item>
				<md-list-item style="margin-bottom: 10px" ng-repeat="(groupName, rows) in ctrl.data">
					<div flex layout="column" layout-align="start"  style="border: solid 1px rgb(225,225,225);">
						<div ng-if="ctrl.groupBy != 'all'" flex="100">
							<div flex layout="row" style="background: #f6f6f6; border-bottom: solid 1px rgb(225,225,225); padding: 10px;">
								<span>{{groupName}}</span>
							</div>
						</div>
						<div flex style="font-size: 13px; border: solid 1px #f6f6f6;">
							<div flex layout="row" style="font-size: 13px; border: solid 1px #rgb(225,225,225);">
								<div ng-if="exists('Distributor', ctrl.settings.selectedColumns) && ctrl.groupBy != 'distributor' && ctrl.groupBy != 'operator' && ctrl.groupBy != 'brand'" flex="10" style="background: #f6f6f6;border-right: solid 1px rgb(225,225,225); padding: 5px;">Distributor</div>
								<div ng-if="exists('Operator', ctrl.settings.selectedColumns) && ctrl.groupBy != 'operator' && ctrl.groupBy != 'brand'" flex="10" style="background: #f6f6f6;border-right: solid 1px rgb(225,225,225); padding: 5px;">Operator</div>
								<div ng-if="ctrl.groupBy != 'brand'" flex="10" style="background: #f6f6f6;border-right: solid 1px rgb(225,225,225); padding: 5px;">Brand</div>
								<div ng-if=" ctrl.groupBy != 'game'" flex="10" style="background: #f6f6f6;border-right: solid 1px rgb(225,225,225); padding: 5px;">Game</div>
								<div ng-if="exists('Bets', ctrl.settings.selectedColumns)" flex="10" style="background: #f6f6f6;border-right: solid 1px rgb(225,225,225); padding: 5px;">Bets</div>
								<div ng-if="exists('Wins', ctrl.settings.selectedColumns)" flex="10" style="background: #f6f6f6;border-right: solid 1px rgb(225,225,225); padding: 5px;">Wins</div>
								<div ng-if="exists('Net Gaming', ctrl.settings.selectedColumns)" flex="10" style="background: #f6f6f6;border-right: solid 1px rgb(225,225,225); padding: 5px;">Net</div>
								<div ng-if="exists('Royalty', ctrl.settings.selectedColumns)" flex="10" style="background: #f6f6f6;border-right: solid 1px rgb(225,225,225); padding: 5px;">Royalty</div>
								<div ng-if="exists('Distributor Share', ctrl.settings.selectedColumns)" flex="10" style="background: #f6f6f6;border-right: solid 1px rgb(225,225,225); padding: 5px;">Share (DI)</div>
								<div ng-if="exists('Supplier Share', ctrl.settings.selectedColumns)" flex="10" style="background: #f6f6f6;padding: 5px;">Share(Supplier)</div>
							</div>
							<md-list>
								<md-list-item ng-repeat="row in rows.rows">
									<div flex layout="row">
										<div ng-if="exists('Distributor', ctrl.settings.selectedColumns) && ctrl.groupBy != 'distributor' && ctrl.groupBy != 'operator' && ctrl.groupBy != 'brand'" flex="10" layout-align="end center" style="border-right: solid 1px rgb(225,225,225); padding: 5px;">{{row.distributor}}</div>
										<div ng-if="exists('Operator', ctrl.settings.selectedColumns) && ctrl.groupBy != 'operator' && ctrl.groupBy != 'brand'" flex="10" style="border-right: solid 1px rgb(225,225,225); padding: 5px;">{{row.operator}}</div>
										<div ng-if="ctrl.groupBy != 'brand'" flex="10" style="border-right: solid 1px rgb(225,225,225); padding: 5px;">{{row.brand}}</div>
										<div ng-if="ctrl.groupBy != 'game'" flex="10" style="border-right: solid 1px rgb(225,225,225); padding: 5px;">{{row.game}}</div>
										<div ng-if="exists('Bets', ctrl.settings.selectedColumns)" flex="10" style="text-align: right; border-right: solid 1px rgb(225,225,225); padding: 5px;">{{formatCurrency(row.bets)}}</div>
										<div ng-if="exists('Wins', ctrl.settings.selectedColumns)" flex="10" style="text-align: right; border-right: solid 1px rgb(225,225,225); padding: 5px;">{{formatCurrency(row.wins)}}</div>
										<div ng-if="exists('Net Gaming', ctrl.settings.selectedColumns)" flex="10" style="text-align: right; border-right: solid 1px rgb(225,225,225); padding: 5px;">{{formatCurrency(row.net)}}</div>
										<div ng-if="exists('Royalty', ctrl.settings.selectedColumns)" flex="5" style="text-align: right; border-right: solid 1px rgb(225,225,225); padding: 5px;">{{formatCurrency(row.royaltyAmount)}}</div>
										<div ng-if="exists('Royalty', ctrl.settings.selectedColumns)" flex="5" style="text-align: right; border-right: solid 1px rgb(225,225,225); padding: 5px;">{{formatPercentage(row.royaltyPercentage)}}</div>
										<div ng-if="exists('Distributor Share', ctrl.settings.selectedColumns)" flex="5" style="text-align: right; border-right: solid 1px rgb(225,225,225); padding: 5px;">{{formatCurrency(row.distShareAmount)}}</div>
										<div ng-if="exists('Distributor Share', ctrl.settings.selectedColumns)" flex="5" style="text-align: right; border-right: solid 1px rgb(225,225,225); padding: 5px;">{{formatPercentage(row.distSharePercentage)}}</div>
										<div ng-if="exists('Supplier Share', ctrl.settings.selectedColumns)" flex="5" style="text-align: right; border-right: solid 1px rgb(225,225,225); padding: 5px;">{{formatPercentage(row.vendorSharePercentage)}}</div>							
										<div ng-if="exists('Supplier Share', ctrl.settings.selectedColumns)" flex="5" style="text-align: right; padding: 5px;">{{formatCurrency(row.vendorShareAmount)}}</div>
									</div>
								</md-list-item>
								<md-list-item>
									<div flex layout="row" style="border-top: solid 1px rgb(225,225,225);">
										<div ng-if="exists('Distributor', ctrl.settings.selectedColumns) && ctrl.groupBy != 'distributor' && ctrl.groupBy != 'operator' && ctrl.groupBy != 'brand'" flex="10" layout-align="end center" style="border-right: solid 1px rgb(225,225,225); padding: 5px;"></div>
										<div ng-if="exists('Operator', ctrl.settings.selectedColumns) && ctrl.groupBy != 'operator' && ctrl.groupBy != 'brand'" flex="10" style="border-right: solid 1px rgb(225,225,225); padding: 5px;"></div>
										<div ng-if="ctrl.groupBy != 'brand'" flex="10" style="border-right: solid 1px rgb(225,225,225); padding: 5px;"></div>
										<div ng-if="ctrl.groupBy != 'game'" flex="10" style="border-right: solid 1px rgb(225,225,225); padding: 5px;"></div>
										<div ng-if="exists('Bets', ctrl.settings.selectedColumns)" flex="10" style="text-align: right; border-right: solid 1px rgb(225,225,225); padding: 5px;">{{formatCurrency(rows.totals.bets)}}</div>
										<div ng-if="exists('Wins', ctrl.settings.selectedColumns)" flex="10" style="text-align: right; border-right: solid 1px rgb(225,225,225); padding: 5px;">{{formatCurrency(rows.totals.wins)}}</div>
										<div ng-if="exists('Net Gaming', ctrl.settings.selectedColumns)" flex="10" style="text-align: right; border-right: solid 1px rgb(225,225,225); padding: 5px;">{{formatCurrency(rows.totals.net)}}</div>
										<div ng-if="exists('Royalty', ctrl.settings.selectedColumns)" flex="5" style="text-align: right; border-right: solid 1px rgb(225,225,225); padding: 5px;">{{formatCurrency(rows.totals.royaltyAmount)}}</div>
										<div ng-if="exists('Royalty', ctrl.settings.selectedColumns)" flex="5" style="text-align: right; border-right: solid 1px rgb(225,225,225); padding: 5px;"></div>
										<div ng-if="exists('Distributor Share', ctrl.settings.selectedColumns)" flex="5" style="text-align: right; border-right: solid 1px rgb(225,225,225); padding: 5px;">{{formatCurrency(rows.totals.distShareAmount)}}</div>
										<div ng-if="exists('Distributor Share', ctrl.settings.selectedColumns)" flex="5" style="text-align: right; border-right: solid 1px rgb(225,225,225); padding: 5px;"></div>
										<div ng-if="exists('Supplier Share', ctrl.settings.selectedColumns)" flex="5" style="text-align: right; border-right: solid 1px rgb(225,225,225); padding: 5px;"></div>							
										<div ng-if="exists('Supplier Share', ctrl.settings.selectedColumns)" flex="5" style="text-align: right; padding: 5px;">{{formatCurrency(rows.totals.vendorShareAmount)}}</div>
									</div>
								</md-list-item>
							</md-list>
						</div>
					</div>
				</md-list-item>
			</md-list>
		</md-card-content>
	</md-card>