<md-card id="royaltySettings" ng-controller="RoyaltiesSettingsCtrl as ctrl">
    <md-card-header>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Report Settings</h2>
            </div>
        </md-toolbar>
    </md-card-header>
    <md-card-content>
        <div>
        <md-list>
            <md-list-item>
                <div flex layout="row" layout-align="start center" style="padding: 10px;">
                    <div flex="20">Use saved report: </div>
                    <md-select flex="20" ng-model="reportPresets" placeholder="none selected" class="md-no-underline">
                        <md-option value="none">none</md-option>
                    </md-select>
                </div>
            </md-list-item>

            <md-list-item style="margin-bottom: 10px;">
                <div flex layout="column" layout-align="start"  style="border: solid 1px rgb(225,225,225);">
                    <div flex="100">
                        <div flex layout="row" style="background: #f6f6f6; padding: 10px;">
                            <span>Period</span>
                        </div>
                    </div>
                    <div flex layout="row" layout-align="start center" style="padding: 10px;">
                         <div flex="20">Period: </div>
                         <md-select flex="20" ng-model="periodPresets" placeholder="none" class="md-no-underline">
                            <md-option value="lastWeek">Last Week</md-option>
                            <md-option value="lastMonth">Last Month</md-option>
                            <md-option value="lastQuarter">Last Quarter</md-option>
                            <md-option value="lastYear">Last Year</md-option>
                        </md-select>
                    </div>
                     <div flex layout="row" layout-align="start center" style="padding: 10px;">
                         <div flex="20">Custom Range: </div>
                         <md-input-container>
                            <label>From:</label>
                            <md-datepicker ng-model="startDate" md-placeholder="Enter Start Date"></md-datepicker>
                        </md-input-container>
                        <md-input-container>
                            <label>To:</label>
                            <md-datepicker ng-model="endDate" md-placeholder="Enter End Date"></md-datepicker>
                        </md-input-container>
                    </div>

                </div>
            </md-list-item>

            <md-list-item style="margin-bottom: 10px;">
                <div flex layout="row" layout-align="start" style="border: solid 1px rgb(225,225,225);">
                    <div flex="100">
                        <div flex layout="row" style="background: #f6f6f6; padding: 10px;">
                            <span>Organizations</span>
                        </div>
                        <div ivh-treeview="ctrl.organizations" ivh-treeview-expand-to-depth="0" style="padding: 10px;">
                          <script type="text/ng-template">
                            <span ivh-treeview-toggle>
                              <span ivh-treeview-twistie></span>
                            </span>
                            <md-box></md-box>
                            <span class="ivh-treeview-node-label" ivh-treeview-toggle>
                              {{trvw.label(node)}}
                            </span>
                            <div ivh-treeview-children></div>
                          </script>
                        </div>
                    </div>
                </div>
            </md-list-item>

            <md-list-item style="margin-bottom: 10px;">
                <div flex layout="row" layout-align="start" style="border: solid 1px rgb(225,225,225);">
                    <div flex="100">
                        <div flex layout="row" style="background: #f6f6f6; padding: 10px;">
                            <span>Games</span>
                        </div>
                        <div ivh-treeview="ctrl.games" ivh-treeview-expand-to-depth="0" style="padding: 10px;">
                          <script type="text/ng-template">
                            <span ivh-treeview-toggle>
                              <span ivh-treeview-twistie></span>
                            </span>
                            <md-box></md-box>
                            <span class="ivh-treeview-node-label" ivh-treeview-toggle>
                              {{trvw.label(node)}}
                            </span>
                            <div ivh-treeview-children></div>
                          </script>
                        </div>
                    </div>
                </div>
            </md-list-item>

           <md-list-item style="margin-bottom: 10px;">
                <div flex layout="column" layout-align="start"  style="border: solid 1px rgb(225,225,225);">
                    <div flex="100">
                        <div flex layout="row" style="background: #f6f6f6; padding: 10px;">
                            <span>Layout</span>
                        </div>
                    </div>
                    <div flex layout="row" layout-align="start start" style="padding: 10px;">
                         <div flex="20">Show summary:</div>
                         <div flex="80" ng-repeat="v in [0]">
                            <md-checkbox ng-checked="ctrl.getShowSummary()" ng-click="ctrl.setShowSummary(!ctrl.showSummary)"></md-checkbox>
                        </div>
                    </div>
                    <div flex layout="row" layout-align="start start" style="padding: 10px;">
                        <div flex="20">Summary data:</div>
                        <div flex="80" flex-gt-sm="50" layout="column">
                            <div layout="row" layout-wrap flex>
                                <div flex="50" ng-repeat="item in ctrl.summaryData">
                                    <md-checkbox ng-disabled="!ctrl.showSummary" ng-checked="exists(item, ctrl.selectedSummaryData)" ng-click="ctrl.toggle(item, ctrl.selectedSummaryData)">
                                    {{ item }}
                                    </md-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div flex layout="row" layout-align="start center" style="padding: 10px;">
                         <div flex="20">Grouping: </div>
                         <md-select flex ng-model="periodPresets" placeholder="None" class="md-no-underline">
                            <md-option value="none">None</md-option>
                            <md-option value="game">Game</md-option>
                            <md-option value="brand">Brand</md-option>
                            <md-option value="operator">Operator</md-option>
                            <md-option value="distributor">distributor</md-option>
                        </md-select>
                    </div>
                    <div flex layout="row" layout-align="start start" style="padding: 10px;">
                        <div flex="20">Columns: </div>
                        <div flex="80" flex-gt-sm="50" layout="column">
                            <div layout="row" layout-wrap flex>
                                <div flex="50" ng-repeat="item in ctrl.columns">
                                    <md-checkbox ng-checked="exists(item, ctrl.selectedColumns)" ng-click="ctrl.toggle(item, ctrl.selectedColumns)">
                                    {{ item }}
                                    </md-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-list-item>
        </md-list>
        <div flex layout="row" layout-align="end">
            <md-button class="md-raised" ng-click="ctrl.onClickedCancel()">Cancel</md-button>
            <md-button class="md-raised md-primary" ng-click="ctrl.onClickedCreate()">Create Report</md-button>
        </div>
    </md-card-content>
</md-card>
