<launch-user-directive>
<md-card id="user">
    <md-card-heade>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{userCtrl.accountId ? 'Edit User' : 'New User'}}</h2>
            </div>
        </md-toolbar>
    </md-card-header>
    <md-card-content>
        <div layout="row">
            <md-input-container md-no-float class="md-block" flex>
                <label>Organization</label>
                <md-select ng-model="userCtrl.organization" ng-model-options="{trackBy: '$value.id'}" ng-disabled="userCtrl.accountId !== 0">
                    <md-option ng-repeat="organization in userCtrl.organizations track by organization.id" ng-value="organization">{{organization.name}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container md-no-float class="md-block" flex>
                <label>Role</label>
                <md-select ng-model="userCtrl.role" md-on-open="userCtrl.loadRoles()" ng-model-options="{trackBy: '$value.id'}" ng-disabled="userCtrl.accountId !== 0">
                    <md-option ng-repeat="role in userCtrl.roles track by role.id" ng-value="role">{{role.name}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container class="md-block" flex>
                <label>User name</label>
                <input ng-model="userCtrl.userName" ng-disabled="userCtrl.accountId !== 0">
            </md-input-container>
            <md-input-container md-no-float class="md-block" flex>
                <label>Password</label>
                <input type="password" ng-model="userCtrl.password" ng-disabled="userCtrl.accountId !== 0">
            </md-input-container>
        </div>    
        <md-input-container class="md-block">
            <label>First Name</label>
            <input ng-model="userCtrl.firstName.value">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Last Name</label>
            <input ng-model="userCtrl.lastName.value">
        </md-input-container>
        <div layout="row">
            <md-input-container class="md-block" flex="50">
                <label>E-mail</label>
                <input ng-model="userCtrl.email.value">
            </md-input-container>
            <md-input-container class="md-block" flex="25">
                <label>Phone</label>
                <input ng-model="userCtrl.phone.value">
            </md-input-container>
            <md-input-container class="md-block" flex="25">
                <label>Mobile</label>
                <input ng-model="userCtrl.mobile.value">
            </md-input-container>
        </div>
    </md-card-content>
    <md-card-footer>
        <div flex layout="row" layout-align="end">
            <md-button class="md-raised" ng-click="userCtrl.save()">Save</md-button>
            <md-button class="md-raised">Cancel</md-button>
        </div>
    </md-card-footer>
</md-card>
</launch-user-directive>